.container {
  max-width: 350px;
  width: calc(100% - 10px);
  color: white;
  margin: 0 auto;
  margin-top: 10rem;
}

.container--info {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-top: 4rem;
}

.container section {
  width: 100%;
}

@media (min-width: 700px) {
  .container {
    max-width: 612px;
  }

  .container--info {
    display: grid;
    grid-template-columns: repeat(3, 188px);
    gap: 23px;
  }
}

@media (min-width: 1240px) {
  .container {
    max-width: 1116px;
    display: flex;
  }

  .container--info {
    display: grid;
    grid-template-columns: repeat(3, 255px);
    gap: 23px;
    margin: 0;
    margin-top: 2.2rem;
  }
}
