.container {
  max-width: 600px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
}

.container--info {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-top: 4rem;
}

.container section {
  width: 100%;
}
