.container {
  max-width: 100%;
  width: calc(100% - 10px);
  color: white;
  margin: 0 auto;
}

.container--info {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-top: 4rem;
}

.container section {
  width: 100%;
}
