<article class="nav__container">
  <section class="nav__user">
    <img class="nav__user__img" src="image-jeremy.png" alt="Jeremy Robson" />
    <div class="nav__user__text">
      <p class="nav__user__report">Report for</p>
      <p class="nav__user__name">Jeremy Robson</p>
    </div>
  </section>
  <section class="nav__timeframe">
    <ul class="nav__timeframe__list">
      <li class="nav__timeframe__li">
        <a
          (click)="onTimeframeSelect('daily')"
          [class.active]="currentTimeframe === 'daily'"
          >Daily</a
        >
      </li>
      <li class="nav__timeframe__li">
        <a
          (click)="onTimeframeSelect('weekly')"
          [class.active]="currentTimeframe === 'weekly'"
          >Weekly</a
        >
      </li>
      <li class="nav__timeframe__li">
        <a
          (click)="onTimeframeSelect('monthly')"
          [class.active]="currentTimeframe === 'monthly'"
          >Monthly</a
        >
      </li>
    </ul>
  </section>
</article>
