.card__container {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  max-width: 350px;
  width: 100%;
  position: relative;
}

.card__header {
  height: 3rem;
  background-color: orange;
  position: absolute;
  z-index: 1;
  width: 100%;
  top: -34px;
  border-radius: 15px 15px 0px 0px;
}

.work {
  background-color: var(--orange-300);
}

.play {
  background-color: var(--blue-300);
}

.study {
  background-color: var(--pink-400);
}

.exercise {
  background-color: var(--green-400);
}

.social {
  background-color: var(--purple-700);
}

.self.care {
  background-color: var(--yellow-300);
}

.card__info {
  display: flex;
  gap: 4rem;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  background-color: var(--navy-900);
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  z-index: 1;
}
