<article class="card__container">
  <div class="card__header" [class]="activity.title.toLowerCase()">
    <img
      class="card__header__icon"
      [src]="activity.title === 'Self Care' ? `icon-${activity.title.slice(0, 4).toLowerCase()}-${activity.title.slice(5).toLowerCase()}.svg` : `icon-${activity.title.toLowerCase()}.svg`"
      alt=""
    />
  </div>
  <section class="card__info">
    <div class="card__info__col">
      <p class="card__info__title">{{ activity.title }}</p>
      <p class="card__info__current">
        {{ activity.timeframes[selectedTimeframe].current }}hrs
      </p>
    </div>
    <div class="card__info__col">
      <a class="card__info__menu" href="">...</a>
      <p class="card__info__past">
        Last
        {{
          [
            selectedTimeframe === "daily"
              ? "day"
              : selectedTimeframe === "weekly"
              ? "week"
              : selectedTimeframe === "monthly"
              ? "month"
              : ""
          ]
        }}
        - {{ activity.timeframes[selectedTimeframe].previous }}hrs
      </p>
    </div>
  </section>
</article>
