<article class="card__container">
  <div class="card__header"></div>
  <section class="card__info">
    <div>
      <p>{{ activity.title }}</p>
      <p>{{ activity.timeframes[selectedTimeframe].current }}hrs</p>
    </div>
    <div>
      <a href="">...</a>
      <p>
        Last
        {{
          [
            selectedTimeframe === "daily"
              ? "day"
              : selectedTimeframe === "weekly"
              ? "week"
              : selectedTimeframe === "monthly"
              ? "month"
              : ""
          ]
        }}
        - {{ activity.timeframes[selectedTimeframe].previous }}hrs
      </p>
    </div>
  </section>
</article>
