.card__container {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  width: 100%;
  position: relative;
  margin-bottom: 2rem;
}

.card__header {
  height: 3rem;
  position: absolute;
  z-index: 1;
  width: 100%;
  top: -34px;
  border-radius: 15px 15px 0px 0px;
}

.card__header__icon {
  position: absolute;
  top: 0px;
  right: 20px;
  width: 60px;
}

.work {
  background-color: var(--orange-300);
}

.play {
  background-color: var(--blue-300);
}

.study {
  background-color: var(--pink-400);
}

.exercise {
  background-color: var(--green-400);
}

.social {
  background-color: var(--purple-700);
}

.self.care {
  background-color: var(--yellow-300);
}

.card__info {
  display: flex;
  gap: 4rem;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  background-color: var(--navy-900);
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  z-index: 1;
  align-items: baseline;
}

.card__info__col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: end;
}

.card__info__title {
  margin: 0;
}

.card__info__current {
  font-size: 1.6rem;
  font-weight: 200;
  margin: 0;
  letter-spacing: 0.5px;
}

.card__info__menu,
.card__info__past {
  color: var(--navy-200);
  margin: 0;
  white-space: nowrap;
}

.card__info__menu {
  display: block;
  font-size: 2rem;
  text-align: right;
}

@media (min-width: 700px) {
  .card__info {
    height: 180px;
    flex-direction: column;
    gap: 0;
  }

  .card__info__current {
    font-size: 3rem;
  }

  .card__info__col {
    position: relative;
  }

  .card__info__menu {
    position: absolute;
    top: -130px;
    right: -30px;
  }
}
